{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>{{=display_title}}</h1>

{{=content}}

{{if request.vars.edit != 'y' :}}
<!-- Behavior if not in edit mode -->
{{=A('Edit', _class= 'btn', _href = URL('default', 'index', args=[title], vars = dict(edit = 'y')))}}

{{if request.args(0) != None :}}
<!-- Button to retrun to Main Page if not on Main Page -->
{{=A('Main Page', _class = 'btn', _href = URL('default', 'index'))}}
{{pass}}
{{pass}}


<!-- You need to put here buttons to see the revision history (to implement later),
and to edit (to implement now). -->
